:root{
  --backgruond-color: #84A178;
  --white-text: #FCFCFC;
  --section-black-text: #131313;
  --text-address: #D6936D;
  --time-work:#ABABAB;
  --btn-backgroundcolor: #F8D24E;
  --btn-color:#000000;

}


body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: var(--white-text);
    // background-color: var(--backgruond-color);
    font-size: 14px;
    letter-spacing: 0.03em;
    
  }