<header class="nav conteiner">
  <a class="nav-logo" href="">
    <!-- <svg class="nav-logo__icon">
      <use href="./images/symbol-defs.svg#icon-logo"></use>
    </svg> -->
  </a>
  
  <div class="nav-content">
    <ul class="nav-list list">
      <li class="nav-items"><a href="" class="nav-link">Home</a></li>
      <li class="nav-items"><a href="" class="nav-link">How it’s made?</a></li>
      <li class="nav-items"><a href="" class="nav-link">Our products</a></li>
      <li class="nav-items"><a href="" class="nav-link">Contact</a></li>
    </ul>
    <button class="nav-menu">
      <svg class="mobile-menu" width="32px" height="32px">
        <use href="./images/symbol-defs.svg#icon-formmenu-icon"></use>
      </svg>
    </button>
    <button type="button" class="nav-btn">Buy now</button>
  </div>
</header>
