.nav{
    display: flex;
    justify-content: space-between;
    background-color:#84A178;
    ;
}

.nav-menu{
    background-color: transparent;
    border: 0;
}

.nav-logo{
    display: flex;
    margin-top: 12px;
}