.hero{
  padding-top: 50px;
  padding-bottom: 236px;
}

.hero-title {
  display: block;
  width: 247px;
  height: auto;
  margin-top: 0;
  margin-bottom: 32px;
  padding-top: 50px;

  font-family: 'Seymour One', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.26;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--white-text);
}

.hero-btn {
  display: inline-block;
  width: 108px;
  height: 38px;
  margin-right: 12px;
  


  background-color: var(--background-color);
  border: 2px solid var(--btn-backgroundcolor);
  border-radius: 8px;
  color: var(--btn-color);
}

.hero-link {
  display: inline-block;
  color: var(--btn-backgroundcolor);
}


